{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ request.user.first_name }}!</h2>
<p>Here are some options for you:</p>
<ul>
    <li><a href="{% url 'mentor_students' %}" class="btn btn-primary">View Assigned Students</a></li>
    {% comment %} <li>
        {% if certificates %}
            <a href="{% url 'verify_certificate' certificates.first.id %}" class="btn btn-primary">Verify Certificates</a>
        {% else %}
            No certificate available for verification.
        {% endif %}
    </li> {% endcomment %}
    <li><a href="{% url 'assign_students' %}" class="btn btn-primary">Assign Students to Mentor</a></li>
    <li><a href="{% url 'assign_event' %}" class="btn btn-primary">Assign Events to Students</a></li>
</ul>
{% endblock %}
